@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    box-sizing: border-box;
}
:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0)100%), #042232;
    
    
}
.b{
    margin-top: 10px;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin-left: 3em;
}    
.logo span{
    font-size: 45px;
    font-weight: 900;
    font-style:normal;
    
}
.logo span:hover{
    color: rgb(255, 255, 255);
    padding: 3px 3px;
    background-color: rgb(168, 88, 88) ;
    border-radius: 5px;
    transition: 0.3s;
}

header{
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}
#tags{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;
    padding-bottom: 1em;
    
    font-size: 20px;
    font-weight: 600;
    color: #646464;
    font-family: 'Times New Roman', Times, serif;
}
.tag{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.tag:hover{
    color: red;
}
.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    
}
.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}
.search::placeholder{
    color: #7378c5;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
.movie{
    width: 200px;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0.2px 10px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}
.movie img{
    width: 200px;
}
.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;
}
.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;

}
.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}
.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}
.list{
    display: flex;
    margin-left: 15em;
    
}
p{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #22254b;
    color: #fff;
    cursor: pointer;
    

}
p:hover{
    color: red
}